@charset "UTF-8";

html{
  font-size: 100%;
}

body{
  line-height: 1.7;
  /* color: #0bd; */
}

a{
  text-decoration: none;
  color: rgb(20, 130, 150);
}

img{
  max-width: 100%;
}

iframe{
  width: 100%;
}

/* header */
.page-header{
  display: flex;
  justify-content: flex-end;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.big-bg{
  background-color: #000;
  padding-bottom: 10px;
}

/* .logo{
  width: 110px;
  height: 110px;
  margin-top: 14px;
  border-radius: 100%;
} */

.main-nav{
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li{
  margin-left: 36px;
  border-bottom: 2px solid #0bd;
}

.main-nav a{
  color: #0bd;
}

.main-nav a:hover{
  color: #0090aa;
}

/* home*/

.home-content{
  text-align: center;
  margin-top: 10%;
}

/* .home-content p{
  font-size: 1.125rem;
  margin: 10px 0 42px;
} */

.page-title{
  font-size: 5rem;
  font-family: serif;
  text-transform: uppercase;
  font-weight: normal;
  color: cyan;
}

.button{
  font-size: 1.375rem;
  background-color: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover{
  background: #0090aa;
}

/*big-bg*/
.big-bg{
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}

#home{
  background-image: url(../images/full_screen.jpg);
  min-height: 100vh;
  background-position: bottom center;
  /* background-size: contain; */
}

#home .page-title{
  text-transform: none;
}

#home .page-title{
  text-shadow: -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff, 1px 1px 0 #fff;  
}


/* CONTACT */

#contact{
  background-image: url(../images/flower.jpg);
  min-height: 100vh;
  background-position: bottom center;
}

form div{
  margin-bottom: 14px;
}

label{
  font-size: 1.125rem;
  margin-bottom:  10px;
  display: block;
}

input[type="text"], input[type="email"], textarea{
  background: rgba(red, green, blue, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"], input[type="email"]{
  width: 100%;
  max-width: 240px;
}

textarea{
  width: 100%;
  max-width: 480px;
  height: 6rem;
}

input[type="submit"]{
  border: none;
  cursor: pointer;
  line-height: 1;
  margin-bottom: 10px;
}

/* about */

.name{
  font-size: 1.5rem;
}

#about body{
  background-color: #F0F5F5;
}

.wrapper .page-title{
  text-shadow: -1px -1px 0 #1E90FF, 1px -1px 0 #1E90FF, -1px 1px 0 #1E90FF, 1px 1px 0 #1E90FF;  
}

.introduction h1{
  /* background-color: #2FBED6; */
  color: #2FBED6;
  /* padding: 20px;
  border-radius: 10px; */
}

.explanation{
  display: flex;
  padding: 10px 0px;
  border-bottom: 2px solid rgb(199, 222, 231);
}

.thumbnail{
  flex-shrink: 0; /* 画像が縮小されないように */
}
.selfie{
  background-image: url("../images/selfie.jpg");
  background-position: center center;
  background-size: cover;
  width: 200px;
  height: 200px;
}

.explanation p{
  padding: 10px 0px;
  margin-left: 30px;
  font-size: 1.125rem;
}

.explanation p a:hover{
  color: hotpink;
}

#location{
  padding: 4% 0;
}

#location .wrapper{
  display: flex;
  justify-content: space-between;
}

.location-info{
  width: 22%;
}

.location-info p{
  padding: 12px 10px;
}

.location-map{
  width: 74%;
}

.blog button {
  background-color: #1E90FF;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  box-shadow: 0px 3px 0px #00BFFF;
  transition: background-color 0.3s;
  margin-top: 10px; /* 上部に10pxの余白を追加 */
  margin-bottom: 10px; /* 下部に10pxの余白を追加 */
}

.blog button:hover {
  background-color: #00BFFF;
}

footer {
  background-color: #333; /* フッターの背景色 */
  color: #fff; /* フッターのテキストカラー */
  padding: 20px; /* フッターの余白 */
  text-align: center; /* フッターのテキストを中央揃え */
  margin-bottom: 0;
  margin-top: auto;
}

#sns{
  background: #FAF7F0;
  padding: 4% 0;
}

#sns .wrapper{
  display: flex;
  justify-content: space-between;
}

#sns .sub-title{
  margin-bottom: 30px;
  border-bottom: 2px solid #0bd;
}

.sns-box{
  width: 30%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    margin: 0 0 20px 0;
  }

  .text-container {
    margin: 0;
  }
}


/* モバイル */
@media (max-width: 600px){
  .page-title{
    font-size: 2.5rem;
  }

  .main-nav{
    font-size: 1rem;
    margin-top: 10px;
  }

  .main-nav li{
    margin: 0 20px;
  }

  .home-content{
    margin-top: 20%;
  }

  #contact .page-title{
    margin-top: 40px;
  }

  input[type="text"], input[type="email"], textarea{
    max-width: 100%;
  }

  .explanation{
    flex-direction: column;
  }

  #location .wrapper, #sns .wrapper{
    flex-direction: column;
  }

  .location-info, .location-map, .sns-box{
    width: 100%;
  }

  .sns-box{
    margin-bottom: 30px;
  }
}